html,body {
    height: 100%;
    margin: 0;
    display: flex;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url("#{resource['image/body-back.png']}");
    background-position: left top;
    background-repeat: no-repeat;
}

h1 {
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 5em;
    font-variant: small-caps;
    margin-bottom: .3em;
}

label {
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
    margin-top: 2em;
    display: inline-block;
}

header {
    border-bottom: 1px solid black;
    flex-shrink: 0;
    margin-left: 1em;
    margin-right: 1em;
}

header a {
    color: #666;
}

header a:visited {
    color: #666;
}

header a:hover {
    color: #666;
}

footer {
    border-top: 1px solid black;
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-shrink: 0;
    font-family: "Times New Roman", Times, serif;
}

footer a {
    color: #000;
    text-decoration: underline;
}

.categories a:visited {
    color: #000;
}

.categories a:hover {
    color: #000;
}

.headerDate {
    float: left;
    font-size: 85%;
    color: #666;
    padding-left: 1em;
}

.headerIssuer {
    float: right;
    font-size: 85%;
    color: #666;
    padding-right: 1em;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 4.3em;
    height: 5em;
    margin-top: 4em;
}

.categories {
    color: #444;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    font-size: 130%;
    border-bottom: 1px solid black;
    margin-left: 3em;
    margin-right: 3em;
    padding-bottom: 3px;
}

.categories a {
    color: #444;
}

.categories a:visited {
    color: #444;
}

.categories a:hover {
    color: #444;
}

.articleBody .ql-align-center {
    text-align: center;
}

.articleBody .ql-align-left {
    text-align: left;
}

.articleBody .ql-align-right {
    text-align: right;
}

.articleBody .ql-align-justify {
    text-align: justify;
}

.articleBody .ql-size-small {
    font-size: 0.75em;
}

.articleBody .ql-size-large {
    font-size: 1.5em;
}

.articleBody .ql-size-huge {
    font-size: 2.5em;
}

.articleBody img {
    max-width: 95%;
    margin-left: 1em;
    margin-right: 1em;
    transition: all 0.7s ease;
}

.articleBody img:hover {
    transform: scale(1.01) rotate(1deg);
    box-shadow: 5px 5px 5px #888;
}

.categoryArticle {
    color: #ffcc01;
    background-color: #1f4a99;
    font-size: 120%;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 3px 3px 5px #888;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.print {
    background: #55ACEE;
    color: white;
}

.icon-bar {
    margin: 2em;
}

.icon-bar a {
    display: inline-block;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    width: 30px;
    border-radius: 30px;
}

.icon-bar a:hover {
    background-color: #000;
}

#content {
    font-size: 90%;
    line-height: 1.5;
}

#featured .articleBody {
    font-size: 90%;
    line-height: 1.5;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

@media only screen and (max-width: 700px) {
    #featured .articleBody {
        margin-left: 1em;
        margin-right: 1em;
    }
    
    #content {
	    margin-left: 1em;
	    margin-right: 1em
    }

    h1 {
	color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	font-variant: small-caps;
	margin-bottom: .1em;
    }

    .logo img {
	width: 1.7em;
	height: 2em;
	margin-top: 1.7em;
    }
}

@media only screen and (min-width: 980px) {
    #featured .articleBody {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
    
    #content {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
    }

    h1 {
	color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 5em;
	font-variant: small-caps;
	margin-bottom: .3em;
    }

    .logo img {
	width: 4.3em;
	height: 5em;
	margin-top: 4em;
    }
}

@media print {
    h1 {
	color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	font-variant: small-caps;
	margin-bottom: .1em;
    }
    
    .logo img {
	width: 1.7em;
	height: 2em;
	margin-top: 1.7em;
    }
}
