html,body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 5em;
    font-variant: small-caps;
    margin-bottom: .3em;
}

header {
    border-bottom: 1px solid black;
}

footer {
    background-color: rgb(16, 24, 32);
    color: white;
    margin-top: auto;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px 10px 0px 0px;
}

.headerDate {
    float: left;
    font-size: 85%;
    color: #666;
    padding-left: 1em;
}

.headerIssuer {
    float: right;
    font-size: 85%;
    color: #666;
    padding-right: 1em;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 4.3em;
    height: 5em;
    margin-top: 4em;
}

.categories {
    color: #444;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    font-size: 130%;
}

.categories a {
    color: #444;
}

.categories a:visited {
    color: #444;
}

.categories a:hover {
    color: #444;
}

.articleBody .ql-align-center {
    text-align: center;
}

.articleBody .ql-align-left {
    text-align: left;
}

.articleBody .ql-align-right {
    text-align: right;
}

.articleBody .ql-align-justify {
    text-align: justify;
}

.articleBody img {
    max-width: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

.categoryArticle {
    color: rgb(255,255,0);
    background-color: rgb(0,113,254);
    font-size: 120%;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 3px 3px 5px #888;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}   

@media only screen and (max-width: 700px) {
    #content {
	margin-left: 1em;
	margin-right: 1em
    }

    h1 {
	color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	font-variant: small-caps;
	margin-bottom: .1em;
    }

    .logo img {
	width: 1.7em;
	height: 2em;
	margin-top: 1.7em;
    }
}

@media only screen and (min-width: 701px) {
    #content {
	margin-left: 10%;
	margin-right: 10%;
    }

    h1 {
	color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 5em;
	font-variant: small-caps;
	margin-bottom: .3em;
    }

    .logo img {
	width: 4.3em;
	height: 5em;
	margin-top: 4em;
    }
}
