body {
    background-color:#FFFFFF;
    color:#333333;
}

body, p, ol, ul, td {
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:13px;
    line-height:18px;
}

a {
    color:#000000;
}

a:visited {
    color:#666666;
}

a:hover {
    background-color:#000000;
    color:#FFFFFF;
}

h1 {
    position: relative;
    z-index: 10;
}

.code {
    font-size: 1000%;
    font-weight: bolder;
    color: Lavender;
}
